{#
/**
 * @file si_stake.html.twig
 * Default theme implementation to present Si_stake data.
 *
 * This template is used when viewing Si_stake pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_si_stake()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('si_stake') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
